@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&family=Oswald:wght@300&display=swap");

.button-max-width {
  width: 100%;
  max-width: 160px;
}

.card-shadow {
  border-radius: 20px;
  background: #f6f9f0;
  box-shadow: 7px 7px 14px #b1b3ad, -7px -7px 14px #ffffff;
}

.button {
  @apply font-semibold hover:text-[#171515] hover:bg-[#f6f9f0] 
  hover:border-[#171515] py-2 px-7 border border-[#171515] bg-[#171515] text-[#f6f9f0] rounded-full 
  transition mb-9 shadow-lg;
  width: fit-content;
}
.delete-button {
  @apply font-semibold py-2 px-7 border border-red-600 text-red-600 hover:bg-red-600 hover:text-white rounded-full 
  transition mb-9 shadow-lg;
  width: fit-content;
}

.card-image {
  aspect-ratio: 559/370;
  max-width: 400px;
  object-fit: cover;
}

.details-image {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.h1 {
  @apply text-4xl;
}
